crowdsourcing-report.log
crowdsourcing-report.aux
crowdsourcing-report.out
crowdsourcing-report.synctex.gz
crowdsourcing-report.tex
crowdsourcing-report.fdb_latexmk
crowds.bib
crowdsourcing-report.blg
ichago.bst
ichago.sty