crowdsourcing-report.log
crowdsourcing-report.aux
crowdsourcing-report.out
crowdsourcing-report.synctex.gz
crowdsourcing-report.fdb_latexmk
crowdsourcing-report.blg
ichago.bst
ichago.sty
crowdsourcing-report.toc